<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>Mysingle:</strong>
  <%= @user.mysingle_id %>
</p>

<p>
  <strong>Original:</strong>
  <%= image_tag @user.photo.url(:original) %>
</p>


<p>
  <strong>200x200:</strong>
  <%= image_tag @user.photo.url(:mysingle) %>
</p>


<p>
  <strong>Crop:</strong>
  <%= image_tag @user.photo.url(:crop) %>
</p>
<br/>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
